In [68]:
import pandas as pd

In [69]:
ufo=pd.read_csv('https://raw.githubusercontent.com/jymishra/datasets/master/ufo.csv')

In [70]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [71]:
ufo.City.value_counts()

Seattle                      187
New York City                161
Phoenix                      137
Houston                      108
Las Vegas                    105
Portland                     102
San Diego                    101
Los Angeles                   98
Chicago                       73
Austin                        62
Miami                         60
Tucson                        58
Columbus                      55
Albuquerque                   54
Tacoma                        52
Dallas                        52
St. Louis                     51
San Francisco                 51
Spokane                       49
Salem                         48
Auburn                        48
Jacksonville                  48
Sacramento                    46
Salt Lake City                46
Gilbert                       45
Colorado Springs              44
Denver                        44
San Antonio                   43
Springfield                   43
San Jose                      42
                            ...
Rustburg                       1
Farina                         1
Stouthill                      1
Hawley                         1
Eagan                          1
North Manitou Island Lake      1
Seymore                        1
Rainsville                     1
Bistolville                    1
Pierre                         1
Yosemite Pass                  1
Waynesburg                     1
Coon Valley                    1
Nothridge                      1
Fort Ann                       1
Shiocton                       1
Johannesburg                   1
Richlands                      1
Groom Lake                     1
Monte Rio                      1
Harbor Springs                 1
Port Isable                    1
Menlo Park                     1
Snowbank Lake                  1
Lake Cushman                   1
Havensville                    1
Ventnor                        1
Murphreesboro                  1
Rimini                         1
Cheaha Mountain                1
Name: City, Length: 6476, dtype: int64

In [72]:
ufo.set_index('City',inplace=True)

In [73]:
ufo.head()

                     Colors Reported Shape Reported State             Time
City
Ithaca                           NaN       TRIANGLE    NY   6/1/1930 22:00
Willingboro                      NaN          OTHER    NJ  6/30/1930 20:00
Holyoke                          NaN           OVAL    CO  2/15/1931 14:00
Abilene                          NaN           DISK    KS   6/1/1931 13:00
New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [74]:
ufo.shape

(18241, 4)

In [75]:
type(ufo.index.value_counts())

pandas.core.series.Series

In [76]:
ufo.index.value_counts()['Holyoke']

5

In [77]:
ufo.loc['Holyoke']

        Colors Reported Shape Reported State              Time
City
Holyoke             NaN           OVAL    CO   2/15/1931 14:00
Holyoke             NaN           DISK    MA   1/20/1963 22:00
Holyoke             NaN           DISK    MA    6/5/1976 23:00
Holyoke             NaN          LIGHT    MA    4/1/1995 18:00
Holyoke             NaN        DIAMOND    MA  12/28/2000 18:00

In [87]:
ufo.loc[['Holyoke','Abilene']]

        Colors Reported Shape Reported State              Time
City
Holyoke             NaN           OVAL    CO   2/15/1931 14:00
Holyoke             NaN           DISK    MA   1/20/1963 22:00
Holyoke             NaN           DISK    MA    6/5/1976 23:00
Holyoke             NaN          LIGHT    MA    4/1/1995 18:00
Holyoke             NaN        DIAMOND    MA  12/28/2000 18:00
Abilene             NaN           DISK    KS    6/1/1931 13:00
Abilene             NaN       TRIANGLE    TX     9/1/1991 1:00
Abilene             NaN         SPHERE    TX    7/15/1995 0:00
Abilene             NaN            NaN    KS  10/14/1995 23:20
Abilene             NaN            NaN    TX  10/19/1997 20:45

In [83]:
ufo.loc['San Jose','Colors Reported':'Time']

         Colors Reported Shape Reported State              Time
City
San Jose            BLUE        CHEVRON    CA   7/15/1947 21:00
San Jose             NaN           DISK    CA    7/4/1966 17:15
San Jose             NaN         CIRCLE    CA   7/20/1968 19:00
San Jose           GREEN          LIGHT    CA  11/13/1969 21:03
San Jose             NaN       TRIANGLE    CA   6/15/1973 22:30
San Jose             NaN       FIREBALL    CA   10/20/1974 7:00
San Jose             NaN            NaN    CA    6/30/1975 0:00
San Jose             NaN         SPHERE    CA    6/30/1976 7:00
San Jose             NaN           DISK    CA    8/1/1976 21:00
San Jose             NaN          FLASH    CA   6/30/1977 20:30
San Jose             NaN           DISK    CA   6/15/1979 20:00
San Jose             NaN           DISK    CA  10/15/1981 16:30
San Jose           GREEN          LIGHT    CA  10/14/1986 20:30
San Jose             NaN       TRIANGLE    CA  10/17/1989 21:00
San Jose             NaN          FLASH    CA  10/17/1989 22:30
San Jose          ORANGE          LIGHT    IL  11/15/1992 18:30
San Jose          ORANGE         CIRCLE    CA    6/1/1993 21:00
San Jose             NaN            NaN    CA    4/27/1996 1:30
San Jose             NaN       FIREBALL    CA    8/1/1996 16:00
San Jose             NaN      FORMATION    IL   11/6/1996 17:00
San Jose             NaN         CIRCLE    CA   5/14/1997 11:40
San Jose             NaN      FORMATION    CA   8/30/1997 18:00
San Jose             NaN       TRIANGLE    CA   12/1/1997 21:45
San Jose             NaN       TRIANGLE    CA   12/20/1997 2:24
San Jose             NaN          CIGAR    CA    2/15/1998 8:00
San Jose             NaN         SPHERE    CA   3/13/1998 13:30
San Jose             NaN      FORMATION    CA   9/26/1998 22:30
San Jose             NaN            NaN    CA   2/20/1999 20:20
San Jose             NaN           OVAL    CA   2/25/1999 13:00
San Jose             RED          LIGHT    CA    5/5/1999 22:30
San Jose             NaN            NaN    CA     7/7/1999 3:00
San Jose           GREEN       FIREBALL    CA   7/15/1999 21:00
San Jose             NaN           DISK    CA    8/1/1999 13:00
San Jose      GREEN BLUE            NaN    CA    8/25/1999 9:00
San Jose             NaN          OTHER    CA    9/3/1999 12:38
San Jose             NaN         CIRCLE    CA   9/30/1999 17:30
San Jose             NaN        VARIOUS    CA   10/26/1999 0:00
San Jose            BLUE          LIGHT    CA   3/13/2000 20:00
San Jose             NaN         SPHERE    CA   4/24/2000 18:08
San Jose             NaN       FIREBALL    CA    7/1/2000 22:15
San Jose             NaN           OVAL    CA   9/21/2000 23:00
San Jose   ORANGE YELLOW          OTHER    CA   10/22/2000 2:30

In [84]:
ufo.loc[['Holyoke','San Diego'],'Colors Reported':'Time']

          Colors Reported Shape Reported State              Time
City
Holyoke               NaN           OVAL    CO   2/15/1931 14:00
Holyoke               NaN           DISK    MA   1/20/1963 22:00
Holyoke               NaN           DISK    MA    6/5/1976 23:00
Holyoke               NaN          LIGHT    MA    4/1/1995 18:00
Holyoke               NaN        DIAMOND    MA  12/28/2000 18:00
San Diego             NaN          CIGAR    CA    1/1/1944 12:00
San Diego             NaN           DISK    CA     8/9/1957 0:30
San Diego             NaN         CIRCLE    CA    6/1/1967 12:00
San Diego             NaN            NaN    CA   11/10/1968 3:00
San Diego             NaN           OVAL    CA    5/1/1969 12:00
San Diego             NaN          LIGHT    CA  10/15/1970 23:00
San Diego             NaN            NaN    CA    8/15/1973 0:00
San Diego             NaN            NaN    CA   1/30/1974 23:00
San Diego             NaN         SPHERE    CA   6/15/1974 20:00
San Diego             NaN         CIRCLE    CA    6/6/1976 21:00
San Diego             RED       TRIANGLE    CA     7/1/1976 0:00
San Diego             NaN          LIGHT    CA    7/1/1976 23:30
San Diego            BLUE         SPHERE    CA   6/15/1977 21:30
San Diego             NaN        VARIOUS    CA   5/10/1978 20:30
San Diego             NaN       TRIANGLE    CA    7/4/1978 19:00
San Diego            BLUE          LIGHT    CA   7/12/1978 22:00
San Diego             NaN           OVAL    CA   8/10/1978 22:00
San Diego             NaN           OVAL    CA  10/10/1979 22:00
San Diego             NaN       TRIANGLE    CA    5/1/1981 20:00
San Diego             NaN            NaN    CA    6/1/1983 15:30
San Diego             NaN          OTHER    CA   6/30/1983 15:00
San Diego             NaN          LIGHT    CA   6/30/1985 22:45
San Diego             NaN           DISK    CA    8/17/1987 2:30
San Diego             NaN          FLASH    CA   11/15/1987 2:00
San Diego             NaN          LIGHT    CA   1/10/1989 23:30
...                   ...            ...   ...               ...
San Diego          ORANGE       FIREBALL    CA   10/31/1999 9:30
San Diego             NaN            EGG    CA   11/1/1999 17:50
San Diego             NaN          LIGHT    CA  11/18/1999 20:30
San Diego             NaN          LIGHT    CA  11/27/1999 20:00
San Diego           GREEN         SPHERE    CA  11/29/1999 20:30
San Diego             NaN       FIREBALL    CA   12/5/1999 23:00
San Diego             NaN            NaN    CA   12/6/1999 16:45
San Diego             NaN       TRIANGLE    CA  12/26/1999 23:30
San Diego           GREEN          LIGHT    CA     1/1/2000 0:23
San Diego             NaN          LIGHT    CA   1/10/2000 21:30
San Diego             NaN           OVAL    CA   1/11/2000 22:40
San Diego             NaN        VARIOUS    CA   1/22/2000 23:00
San Diego             NaN      FORMATION    CA   4/15/2000 22:00
San Diego             NaN       CYLINDER    CA   4/16/2000 14:00
San Diego            BLUE          LIGHT    CA   6/26/2000 21:30
San Diego             NaN          CIGAR    CA    7/5/2000 20:20
San Diego           GREEN          LIGHT    CA    7/7/2000 21:00
San Diego             RED       FIREBALL    CA   7/25/2000 21:30
San Diego             RED            NaN    CA   7/25/2000 21:45
San Diego             RED          LIGHT    CA   7/25/2000 22:00
San Diego             NaN         CIRCLE    CA    8/19/2000 1:27
San Diego             NaN          LIGHT    CA   8/26/2000 21:05
San Diego             RED       TRIANGLE    CA   8/26/2000 21:30
San Diego             NaN         CIRCLE    CA   8/26/2000 21:50
San Diego             RED       FIREBALL    CA   8/26/2000 22:00
San Diego             NaN           OVAL    CA   9/18/2000 18:30
San Diego             NaN           OVAL    CA   9/18/2000 23:30
San Diego             NaN          OTHER    CA   10/30/2000 4:20
San Diego             NaN          LIGHT    CA  11/14/2000 21:00
San Diego             NaN          LIGHT    CA   12/15/2000 4:05

[106 rows x 4 columns]

In [92]:
ufo.loc[:,['Colors Reported','Shape Reported','State']]

                     Colors Reported Shape Reported State
City
Ithaca                           NaN       TRIANGLE    NY
Willingboro                      NaN          OTHER    NJ
Holyoke                          NaN           OVAL    CO
Abilene                          NaN           DISK    KS
New York Worlds Fair             NaN          LIGHT    NY
Valley City                      NaN           DISK    ND
Crater Lake                      NaN         CIRCLE    CA
Alma                             NaN           DISK    MI
Eklutna                          NaN          CIGAR    AK
Hubbard                          NaN       CYLINDER    OR
Fontana                          NaN          LIGHT    CA
Waterloo                         NaN       FIREBALL    AL
Belton                           RED         SPHERE    SC
Keokuk                           NaN           OVAL    IA
Ludington                        NaN           DISK    MI
Forest Home                      NaN         CIRCLE    CA
Los Angeles                      NaN            NaN    CA
Hapeville                        NaN            NaN    GA
Oneida                           NaN      RECTANGLE    TN
Bering Sea                       RED          OTHER    AK
Nebraska                         NaN           DISK    NE
NaN                              NaN            NaN    LA
NaN                              NaN          LIGHT    LA
Owensboro                        NaN      RECTANGLE    KY
Wilderness                       NaN           DISK    WV
San Diego                        NaN          CIGAR    CA
Wilderness                       NaN           DISK    WV
Clovis                           NaN           DISK    NM
Los Alamos                       NaN           DISK    NM
Ft. Duschene                     NaN           DISK    UT
...                              ...            ...   ...
Holyoke                          NaN        DIAMOND    MA
Carson                           NaN           DISK    CA
Pasadena                       GREEN       FIREBALL    CA
Austin                           NaN      FORMATION    TX
El Campo                         NaN          OTHER    TX
Garden Grove                  ORANGE          LIGHT    CA
Berthoud Pass                    NaN       TRIANGLE    CO
Sisterdale                       NaN        DIAMOND    TX
Garden Grove                     NaN        CHEVRON    CA
Shasta Lake                     BLUE           DISK    CA
Franklin                         NaN           DISK    NH
Albrightsville                   NaN          OTHER    PA
Greenville                       NaN            NaN    SC
Eufaula                          NaN           DISK    OK
Simi Valley                      NaN      FORMATION    CA
San Francisco                    NaN      FORMATION    CA
San Francisco                    NaN       TRIANGLE    CA
Kingsville                       NaN          LIGHT    TX
Chicago                          NaN           DISK    IL
Pismo Beach                      NaN           OVAL    CA
Pismo Beach                      NaN           OVAL    CA
Lodi                             NaN            NaN    WI
Anchorage                        RED        VARIOUS    AK
Capitola                         NaN       TRIANGLE    CA
Fountain Hills                   NaN            NaN    AZ
Grant Park                       NaN       TRIANGLE    IL
Spirit Lake                      NaN           DISK    IA
Eagle River                      NaN            NaN    WI
Eagle River                      RED          LIGHT    WI
Ybor                             NaN           OVAL    FL

[18241 rows x 3 columns]

In [103]:
ufo.loc[ufo.index=='Franklin',['Colors Reported','Shape Reported','State']]

         Colors Reported Shape Reported State
City
Franklin             NaN         SPHERE    TN
Franklin             NaN           OVAL    KY
Franklin             NaN      RECTANGLE    TN
Franklin             NaN         SPHERE    NC
Franklin             NaN            NaN    NJ
Franklin             NaN           DISK    KY
Franklin           GREEN          OTHER    NH
Franklin             NaN           OVAL    MA
Franklin             NaN       TRIANGLE    TN
Franklin        RED BLUE         CIRCLE    NC
Franklin             NaN            NaN    TN
Franklin             RED        DIAMOND    MA
Franklin             NaN           DISK    PA
Franklin             NaN           DISK    PA
Franklin             NaN      FORMATION    TN
Franklin             NaN           DISK    NH

In [105]:
ufo.loc[ufo['State'].str.endswith("A")]

                 Colors Reported Shape Reported State              Time
City
Crater Lake                  NaN         CIRCLE    CA    6/15/1935 0:00
Fontana                      NaN          LIGHT    CA   8/15/1937 21:00
Keokuk                       NaN           OVAL    IA     7/7/1939 2:00
Forest Home                  NaN         CIRCLE    CA    7/2/1941 11:30
Los Angeles                  NaN            NaN    CA    2/25/1942 0:00
Hapeville                    NaN            NaN    GA    6/1/1942 22:30
NaN                          NaN            NaN    LA    8/15/1943 0:00
NaN                          NaN          LIGHT    LA    8/15/1943 0:00
San Diego                    NaN          CIGAR    CA    1/1/1944 12:00
Ft. Lee                      NaN          CIGAR    VA    1/1/1945 12:00
Salinas AFB                  NaN           DISK    CA    6/1/1945 12:00
Portsmouth                   RED      FORMATION    VA    7/10/1945 1:30
Huntington Beach             NaN           DISK    CA    8/8/1945 12:00
Merced                       NaN         SPHERE    CA    2/1/1946 17:00
Blairsden                  GREEN         SPHERE    CA   6/30/1946 19:00
Index                        NaN       FIREBALL    WA   6/30/1946 21:00
San Deigo                    NaN       TRIANGLE    CA   4/15/1947 23:00
Minden                       NaN            NaN    LA     6/1/1947 0:00
Oroville                     NaN            NaN    CA    6/1/1947 18:00
Oakmont                      NaN            NaN    PA   6/13/1947 20:18
Hayward                      NaN         CIRCLE    CA   6/20/1947 12:00
Tacoma                       NaN          OTHER    WA    6/30/1947 0:00
Cashmere                     NaN      FORMATION    WA    7/1/1947 20:00
Maywood                      NaN           DISK    CA    7/1/1947 20:00
Wexford                     BLUE            NaN    PA    7/1/1947 20:00
Seattle                      NaN           OVAL    WA    7/4/1947 17:30
Philadelphia                 NaN           DISK    PA    7/5/1947 11:30
Richmond                     NaN         CIRCLE    CA   7/14/1947 11:00
Clintwood                    NaN       CYLINDER    VA   7/15/1947 15:00
San Jose                    BLUE        CHEVRON    CA   7/15/1947 21:00
...                          ...            ...   ...               ...
Pine Mountain                NaN       FIREBALL    GA  12/20/2000 21:00
Concord                      NaN       FIREBALL    CA  12/20/2000 22:00
Mojave                       NaN       TRIANGLE    CA  12/21/2000 17:54
Bellingham                   NaN         SPHERE    WA  12/21/2000 19:10
Kettleman City               NaN          LIGHT    CA   12/22/2000 3:30
Oliphant                     NaN            NaN    PA   12/23/2000 8:00
Seattle                      NaN            NaN    WA  12/23/2000 20:00
Moses Lake                   NaN       TRIANGLE    WA   12/24/2000 8:32
Fortuna                   ORANGE         CIRCLE    CA  12/24/2000 18:00
Woodland                     NaN       FIREBALL    CA  12/25/2000 19:00
Atlanta                   ORANGE          LIGHT    GA  12/25/2000 20:30
Brocton                    GREEN           OVAL    MA  12/26/2000 18:23
Greenfiled                 GREEN       FIREBALL    MA  12/26/2000 18:30
Prospect Park                NaN           OVAL    PA  12/26/2000 23:15
Santa Paula                  NaN          LIGHT    CA  12/27/2000 10:00
Bremerton                    NaN          OTHER    WA   12/28/2000 3:00
Holyoke                      NaN        DIAMOND    MA  12/28/2000 18:00
Carson                       NaN           DISK    CA  12/28/2000 18:20
Pasadena                   GREEN       FIREBALL    CA  12/28/2000 19:10
Garden Grove              ORANGE          LIGHT    CA  12/29/2000 16:10
Garden Grove                 NaN        CHEVRON    CA  12/29/2000 20:30
Shasta Lake                 BLUE           DISK    CA  12/29/2000 20:30
Albrightsville               NaN          OTHER    PA  12/29/2000 21:00
Simi Valley                  NaN      FORMATION    CA  12/30/2000 10:00
San Francisco                NaN      FORMATION    CA  12/30/2000 22:00
San Francisco                NaN       TRIANGLE    CA  12/30/2000 22:00
Pismo Beach                  NaN           OVAL    CA  12/31/2000 20:00
Pismo Beach                  NaN           OVAL    CA  12/31/2000 20:00
Capitola                     NaN       TRIANGLE    CA  12/31/2000 22:00
Spirit Lake                  NaN           DISK    IA  12/31/2000 23:00

[5731 rows x 4 columns]

In [107]:
ufo.loc[ufo['State'].isin(['CA','LA','PA'])]

,Colors Reported,Shape Reported,State,Time
City,,,,
Crater Lake,NaN,CIRCLE,CA,6/15/1935 0:00
Fontana,NaN,LIGHT,CA,8/15/1937 21:00
Forest Home,NaN,CIRCLE,CA,7/2/1941 11:30
Los Angeles,NaN,NaN,CA,2/25/1942 0:00
NaN,NaN,NaN,LA,8/15/1943 0:00
NaN,NaN,LIGHT,LA,8/15/1943 0:00
San Diego,NaN,CIGAR,CA,1/1/1944 12:00
Salinas AFB,NaN,DISK,CA,6/1/1945 12:00
Huntington Beach,NaN,DISK,CA,8/8/1945 12:00
Merced,NaN,SPHERE,CA,2/1/1946 17:00
Blairsden,GREEN,SPHERE,CA,6/30/1946 19:00
San Deigo,NaN,TRIANGLE,CA,4/15/1947 23:00
Minden,NaN,NaN,LA,6/1/1947 0:00
Oroville,NaN,NaN,CA,6/1/1947 18:00
Oakmont,NaN,NaN,PA,6/13/1947 20:18
Hayward,NaN,CIRCLE,CA,6/20/1947 12:00
Maywood,NaN,DISK,CA,7/1/1947 20:00
Wexford,BLUE,NaN,PA,7/1/1947 20:00
Philadelphia,NaN,DISK,PA,7/5/1947 11:30
Richmond,NaN,CIRCLE,CA,7/14/1947 11:00
San Jose,BLUE,CHEVRON,CA,7/15/1947 21:00
Modesto,BLUE,DISK,CA,8/8/1947 22:00
Kelseyville,NaN,DISK,CA,4/30/1948 12:00
Ojai,NaN,LIGHT,CA,7/15/1948 22:00
Conshohocken,NaN,OVAL,PA,8/15/1948 12:00
Mill Valley,NaN,LIGHT,CA,8/15/1949 21:00
Pittsburgh,NaN,OVAL,PA,6/1/1950 20:00
Napa,GREEN,DISK,CA,6/10/1950 0:00
Los Padres National Forest,NaN,FORMATION,CA,7/15/1950 23:00
Smithport,NaN,DISK,PA,7/20/1950 21:30
...,...,...,...,...
Redwood Valley,BLUE,LIGHT,CA,12/15/2000 1:09
San Diego,NaN,LIGHT,CA,12/15/2000 4:05
Palo Alto,NaN,DISK,CA,12/15/2000 9:00
Beaver,NaN,DISK,PA,12/15/2000 18:25
Beaver,RED,DISK,PA,12/15/2000 18:25
Walnut Creek,NaN,CROSS,CA,12/16/2000 19:00
Sebastopol,YELLOW,CIRCLE,CA,12/17/2000 18:00
Baton Rouge,NaN,LIGHT,LA,12/17/2000 20:40
Woodland,ORANGE,LIGHT,CA,12/19/2000 23:30
Roseville,NaN,TRIANGLE,CA,12/20/2000 5:45
Concord,NaN,FIREBALL,CA,12/20/2000 22:00
Mojave,NaN,TRIANGLE,CA,12/21/2000 17:54
Kettleman City,NaN,LIGHT,CA,12/22/2000 3:30
Oliphant,NaN,NaN,PA,12/23/2000 8:00
Fortuna,ORANGE,CIRCLE,CA,12/24/2000 18:00
Woodland,NaN,FIREBALL,CA,12/25/2000 19:00
Prospect Park,NaN,OVAL,PA,12/26/2000 23:15
Santa Paula,NaN,LIGHT,CA,12/27/2000 10:00
Carson,NaN,DISK,CA,12/28/2000 18:20
Pasadena,GREEN,FIREBALL,CA,12/28/2000 19:10
Garden Grove,ORANGE,LIGHT,CA,12/29/2000 16:10
Garden Grove,NaN,CHEVRON,CA,12/29/2000 20:30
Shasta Lake,BLUE,DISK,CA,12/29/2000 20:30
Albrightsville,NaN,OTHER,PA,12/29/2000 21:00
Simi Valley,NaN,FORMATION,CA,12/30/2000 10:00
San Francisco,NaN,FORMATION,CA,12/30/2000 22:00
San Francisco,NaN,TRIANGLE,CA,12/30/2000 22:00
Pismo Beach,NaN,OVAL,CA,12/31/2000 20:00
Pismo Beach,NaN,OVAL,CA,12/31/2000 20:00
Capitola,NaN,TRIANGLE,CA,12/31/2000 22:00

# <b>When selecting columns, if one column only is selected, the .loc operator returns a Series. For a single column DataFrame, use a one-element list to keep the DataFrame format<b>

In [95]:
type(ufo.loc[ufo.index=='Franklin','Colors Reported'])

pandas.core.series.Series

In [96]:
ufo.loc[ufo.index=='Franklin','Colors Reported']

City
Franklin         NaN
Franklin         NaN
Franklin         NaN
Franklin         NaN
Franklin         NaN
Franklin         NaN
Franklin       GREEN
Franklin         NaN
Franklin         NaN
Franklin    RED BLUE
Franklin         NaN
Franklin         RED
Franklin         NaN
Franklin         NaN
Franklin         NaN
Franklin         NaN
Name: Colors Reported, dtype: object

# If selections of a single column are made as a string, a series is returned from .loc. Pass a list to get a DataFrame back.

In [98]:
ufo.loc[ufo.index=='Franklin',['Colors Reported']]

         Colors Reported
City
Franklin             NaN
Franklin             NaN
Franklin             NaN
Franklin             NaN
Franklin             NaN
Franklin             NaN
Franklin           GREEN
Franklin             NaN
Franklin             NaN
Franklin        RED BLUE
Franklin             NaN
Franklin             RED
Franklin             NaN
Franklin             NaN
Franklin             NaN
Franklin             NaN

In [99]:
type(ufo.loc[ufo.index=='Franklin',['Colors Reported']])

pandas.core.frame.DataFrame